.nosotros_index{
    background-image: url(../assets/Soirée\ -\ Portada\ 3000x3000\ JPG.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 10%;
    background-color: linear-gradient(#680a53, black);
}

.nosotros_p{
    p{
        font-family: 'Spinnaker', sans-serif;
        font-size: 100%;
        color: #ffffff; 
    }
}

.nosotros_gallery{
    .grid{
        img{
            display: block;
            object-fit: cover;
            object-position: center;
            position: absolute;
            width: 100%;
            height: 100%;  
        }
    }
    h2{
        font-family: 'Koulen', cursive;
        font-size: 220%;
        color: #ffffff;
        text-align: center;
    }
}

*{
    box-sizing: border-box;
    // &:root{
    //     counter-reset: item;
    // }
}
body{
    padding: 1rem;
}

.grid{
    display: grid;
	grid-template-columns: repeat(auto-fit, 1fr);
	grid-auto-rows: 1fr;
	grid-auto-flow: dense;
	gap: 0.5rem;
	max-width: 1200px;
	margin: auto;
    &::before{
        content: "";
        grid-column: 1;
        grid-row: 1;
        padding-bottom: 100%;
    }
    div:first-child{
        grid-column: 1;
	    grid-row: 1;
    }
    div{
        display: grid;
        place-items: center;
        border-radius: 0.25rem;
        overflow: hidden;
        position: relative;
        box-shadow: 0 0 8px silver;
        // &::after{
        //     content: counter(item);
        //     counter-increment: item;
        //     font: 3rem/1.5 sans-serif;
        //     color: dimgrey; 
        }
    .one{
        background-color: lightblue;
    }
    .two{
        background-color: lightsalmon;
    }
    .three{
        background-color: khaki;
    }
    .four{
        background-color: silver;
    }
    @media screen and (min-width: 460px){
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
    .span-h{
        @media screen and (min-width: 460px){
            grid-column: span 2;
	    }
    }
    .span-v{
        @media screen and (min-width: 460px){
            grid-row: span 2;
	    }
    }
}